{% extends '_layouts/1_col.html' %}
{% import 'macros.html' as macro %}

{% block title %} Login {% endblock %}

{% block page_content %}

<div class="card bg-white mx-auto  md:w-1/2">

	<div class="card-header rounded-t border-b p-4">
		<h2 class="">Login</h2>
	</div>

	<div class="card-content p-4 m-4">
		{{ macro.quick_form(form, button_text='Sign in') }}
		<div class="flex">
			<a class="mr-2" href="{{url_for('.register')}}">Create Account</a> &bull;
			<a class="ml-2" href="{{url_for('.forgot_password')}}">Forgot Password</a>
		</div>
	</div>
</div>
{% endblock %}
