<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='css/bulma.min.css')}}">
	{% block head %}{% endblock %}
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	{% include '_includes/nav.html' %}
	{% include '_includes/messages.html' %}
		
	<section class="hero  is-fullheight">
		<div class="hero-body">
			<div class="container has-text-centered">
				<div class="column is-4 is-offset-4">
					{%block content %}{% endblock %}
				</div>
			</div>
		</div>
	</section>
</body>
{% block scripts %}{% endblock %}
<script>
	//close the bulma burger menu
	(function() {
	    var burger = document.querySelector('.burger');
	    var menu = document.querySelector('#'+burger.dataset.target);
	    burger.addEventListener('click', function() {
		burger.classList.toggle('is-active');
		menu.classList.toggle('is-active');
	    });
	})();

	//close notifications
</script>

<script>

</script>
</html>
