{% extends '_layouts/1_col.html' %}
{% import '_macros/form.html' as f with context %}
{% block title %} Home {% endblock %}
{% block page_content %}
	<div class="bg-white p-4 rounded">
		<h2>{{post.title }}</h2>
		{% if post.body_html %}
			{{ post.body_html | safe }}
		{% else %}
			{{ post.body }}
		{% endif %}
		<div>
			{{f.quick_form(comment_form, action=url_for('.add_comment', id=post.id)) }} 
		</div>
		<div class="bg-gray-200 text-sm text-gray-700">
		{% for c in post.comments %}
		<div>{% if c.body_html %}
				{{ c.body_html | safe }}
			{% else %}
				{{ c.body }}
			{% endif %}
			<p>{{ c.author.username }}</p>
		</div>
		{% endfor %}
		</div>
		<div>{{ f.quick_form(tag_form, action=url_for('.add_tag', id=post.id)) }}</div>
		<div>
			{% for t in post.tags %}
				{{ t.title }} 
				<a href="{{ url_for('.remove_tag', post_id=post.id, tag_id=t.id)}}">Del</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
