{% extends '_layouts/hero.html' %}
{% import '_macros/form.html' as macros %}

{% block content %}
	<h3 class="title has-text-grey">Join</h3>
	<p class="subtitle has-text-grey">Please signup to proceed.</p>
	<div class="box">
		{{ macros.render_form(form,
		action_url=url_for('account.join'),
		action_text='Create Account',
		button_class='is-block is-info is-fullwidth')}}
	</div>
	<p class="has-text-grey">
		<a href="{{url_for('account.login')}}">Login</a>&nbsp;·&nbsp;
		<a href="{{url_for('account.reset_password')}}">Forgot Password</a>
	</p>

{% endblock %}
