{% extends '_layouts/hero.html' %}
{% import '_macros/form.html' as macros %}

{% block content %}
	<h3 class="title has-text-grey">Login</h3>
	<p class="subtitle has-text-grey">Please login to proceed.</p>
	<div class="box">
		{{ macros.render_form(form,
		action_url=url_for('account.login'),
		action_text='Login',
		button_class='is-block is-info is-fullwidth')}}
	</div>
	<p class="has-text-grey is-small">
		<a href="{{url_for('account.join')}}">Join</a>&nbsp;·&nbsp;
		<a href="{{url_for('account.reset_password')}}">Forgot Password</a>
	</p>

{% endblock %}
