<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='css/bulma.min.css')}}">
	{% block head %}{% endblock %}
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	{% include '_nav.html' %}
	{% include '_messages.html' %}
		

	<section class="section">
		<div class="columns">
			<div class="column is-9">
				{% block content %}{% endblock %}
			</div>
			<div class="column is-3">
				{% include '_sidebar.html' %}
			</div>
		</div>
	</section>
</body>
{% block scripts %}{% endblock %}
<script>
	//close the bulma burger menu
	(function() {
	    var burger = document.querySelector('.burger');
	    var menu = document.querySelector('#'+burger.dataset.target);
	    burger.addEventListener('click', function() {
		burger.classList.toggle('is-active');
		menu.classList.toggle('is-active');
	    });
	})();

	//close notifications
</script>

<script>

</script>
</html>
