{# Render Posts  #}
{% macro render_posts_table(posts) %}
<table class="table is-fullwidth is-striped">
	<tbody>
		{% for post in posts %}
			<tr>
				<td>{{post.title}} </td>
				<td>{{post.body | truncate(20)}}</td>
				<td width="5%">
					<a class="button is-small is-info" 
					   href="{{url_for('post.update', post_id=post.id)}}">Edit</a>
				</td>
				<td width="5%">
					<form 
						action="{{ url_for('post.delete', post_id=post.id)}}"
						method="post">
						<input type="hidden" name="post_id" value="{{post.id}}">
						<button class="button is-small is-danger" href="">Delete</button>
					</form>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endmacro %}

{% macro render_post(post) %}
<div class="card article">
	<div class="card-content">
		<div class="media">
			<div class="media-center">
				user image here
			</div>
			<div class="media-content has-text-centered">
				<p class="title article-title">{{post.title}}</p>
				<p class="subtitle is-6 article-subtitle">
				<a href="">{{post.author.username}}</a> on
				<span class="long-date has-text-grey" title="{{post.created}}"></span>
				</p>
			</div>
		</div>
	</div>

	<div class="content article-body">
		{% if post.body_html %}
			{{ post.body_html | safe }}
		{% else %}
			{{ post.body}}
		{% endif %}
	</div>
</div>
{% endmacro %}
