{% extends '_layouts/layout.html' %}
{% from '_macros/post.html' import render_post as _post %}

{% block content %}
<div class="container">
	<section class="articles">
		{{ _post(post) }}
	</section>
</div>
{% if current_user.id == post.author_id %}
<p><a class="button is-info" href="{{url_for('post.update', post_id=post.id)}}">Edit</a></p>
{% endif %}
{{post.body_html}}
{% endblock %}

{% block scripts %}
	<script src="{{url_for('static', filename='js/moment.min.js') }}"></script>
	<script src="{{url_for('static', filename='js/utils.js')}}"></script>
{% endblock %}
