{% extends '_layouts/1_col.html' %}
{% import 'macros.html' as macro %}


{% block title %} Home {% endblock %}

{% block page_content %}
	<h1>It works, with layout!</h1>
	{% call macro.render_card(class_='') %}
		{% call macro.render_header(text="Card with button") %}
			<a class="btn btn-primary text-xs btn-lg" href="#">Create</a>
		{% endcall %}
		{{macro.render_header(text="Card Heading") }}
		<div>
			some really long text what we goin to do with this here thing? Some components jus dont make work easy for the normal human being lets see how his works. 
		</div>
	{% endcall %}
{% endblock %}
