<header class="bg-white">
	<div class="container mx-auto flex items-center py-4">
		<div class="w-1/5">
			<a class="font-bold" href="{{ url_for('main.index') }}">Project Name</a>
		</div>

		<div class="w-3/5">
			<a href="{{ url_for('post.list') }}">Blog</a>
		</div>

		<div class="w-1/5">
			{% if current_user.is_authenticated %}
			<a href="">Profile</a>
			<a href="{{ url_for('auth.logout') }}">Logout</a>
			{% else %}
				<a href="{{ url_for('auth.login') }}">Login</a>
			{% endif %}
		</div>
	</div>
</header>
